################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/JewelleryStore/v16
/Source/.vs/JewelleryStore/v16/.suo
/Source/obj
/Source/Jewellery.DataAccess/obj
/Source/Jewellery.DataAccess/bin/Debug/net5.0
/Source/JewelleryStore.Application/obj
/Source/JewelleryStore.Application/bin/Debug/net5.0
/Source/JewelleryStore.Domain/obj
/Source/JewelleryStore.Domain/bin/Debug/net5.0
/Source/JewelleryStore.Model/obj
/Source/JewelleryStore.Model/bin/Debug/net5.0
/Source/.vs/JewelleryStore
/Source/JewelleryStore.Api/.vs
/Source/JewelleryStore.Api/bin/Debug/net5.0
/Source/JewelleryStore.Api/obj
/Source/JewelleryStore.EntityModel/bin/Debug/net5.0
/Source/JewelleryStore.EntityModel/obj
/Source/JewelleryStore.Infrastructure/bin/Debug/net5.0
/Source/JewelleryStore.Infrastructure/obj
/Source/JewelleryStore.UnitTests/bin/Debug/net5.0
/Source/JewelleryStore.UnitTests/obj
/Source/JewelleryStore.DbModel/obj
/Source/JewelleryStore.DbModel/bin/Debug/net5.0
